
.container-2{
     margin-top: 5px;
    height: 33.7vw;
    margin-right: -10px;
    margin-left: -8%;
}
.container-1{
    margin-top: 5px;
    height: 33.7vw;
    margin-right: -10px;
    margin-left: -16%;
}