.custom-container {
    max-width: 70rem !important;
    width: 70% !important;
}
.custom-table-container {
    height: 315px;
}
.fields-section {
    padding-left: 40px;
    padding-right: 40px;
}
.content-section {
    border-right: 1px solid grey;
    padding-right: 30px;
}